
<div class='about row'>
	<div class='about-text six columns'>
		<h1 class='about-header'>Hey!</h1>
		<p>If you couldn't tell by the obnoxiously large header, my name's Camden.</p>
		<p>I'm currently a Computer Science student at Northeastern University -- a long way from my native Los Angeles.</p>
		<p>A bit about me: I play Ultimate Frisbee, I collect board games, I'm not-so-secretly in love with tuna melts, and I can make a <a target="_blank" href="{{ site.baseurl }}assets/images/fort.jpg">killer blanket fort.</a></p>
		<p>I've started coding when I was 12, and I never really stopped making <a href={{ site.baseurl }}>cool stuff</a>. My career goal is to be a full-stack web developer, and I'm learning slowly but surely. One stack at a time, as I like to say (full disclosure: I've never said that before).</p>
		<p>
	</div>
	<img class='image-of-me six columns' src='{{ site.baseurl }}assets/images/me-outline.png'>
</div>


