<h1 class="title row">Camden Bickel</h1>
<div class="row">
	{% if page.active == "projects" %}
        <div class="nav-item active-link four columns"><a href="{{ site.baseurl }}">Projects</a></div>
    {% else %}
        <div class="nav-item four columns"><a href="{{ site.baseurl }}">Projects</a></div>
    {% endif %}
    {% if page.active == "about" %}
        <div class="nav-item active-link four columns"><a href="{{ site.baseurl }}about/">About</a></div>
    {% else %}
        <div class="nav-item four columns"><a href="{{ site.baseurl }}about">About</a></div>
    {% endif %}   
    {% if page.active == "contact" %}
        <div class="nav-item active-link four columns"><a href="{{ site.baseurl }}contact/">Contact</a></div>
    {% else %}
        <div class="nav-item four columns"><a href="{{ site.baseurl }}contact">Contact</a></div>
    {% endif %}    	
</div>