<div class="row inner-nav-wrapper">
	<h1 class="title six columns">Camden Bickel</h1>
    	{% if page.active == "projects" %}
            <div class="nav-item active-link three columns"><a href="{{ site.baseurl }}">Projects</a></div>
        {% else %}
            <div class="nav-item three columns"><a href="{{ site.baseurl }}">Projects</a></div>
        {% endif %}
        {% if page.active == "about" %}
            <div class="nav-item active-link three columns"><a href="{{ site.baseurl }}about/">About</a></div>
        {% else %}
            <div class="nav-item three columns"><a href="{{ site.baseurl }}about">About</a></div>
        {% endif %}    	
</div>